
#how-it-works img {
  display: block;
  width: 15rem;
  margin: 0 auto 3rem auto;
}

#how-it-works p {
  display: block;
  text-align: center;
  font-size: 20px;
}

.logo-circle {
  margin: 0 auto;
  background: white;
  border-radius: 200px;
  width: 150px;
  height: 150px;
  display: table;
  text-align: center;
}

.logo-circle-wrapper {
  display: table-cell;
  vertical-align: middle;
}

header .intro-text {
margin-top: 25px;
margin-bottom: 25px;
}

.how-we-do-it {
  padding: 5rem 0;
}

.how-we-do-it__bg {
  background-color: #A63251;
  color: white;
}

.how-we-do-it h3 {
  margin: 2.5rem 0 2.5rem 0;
}

img.product {
  width: 100%;
}

.half {
  margin: 0.5rem;
}

@media (min-width: 768px) {

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .half {
    margin: 0 2rem;
  }
}

.price {
  margin: 1rem 0;
}

dt {
  font-weight: normal;
}

.total-price {
  font-size: 2rem;
}
