
#how-it-works img {
  display: block;
  width: 15rem;
  margin: 0 auto 3rem auto;
}

#how-it-works p {
  display: block;
  text-align: center;
  font-size: 20px;
}

.logo-circle {
  margin: 0 auto;
  background: white;
  border-radius: 200px;
  width: 150px;
  height: 150px;
  display: table;
  text-align: center;
}

.logo-circle-wrapper {
  display: table-cell;
  vertical-align: middle;
}

header .intro-text {
margin-top: 25px;
margin-bottom: 25px;
}

#how-we-do-it {
  background-color: #A63251;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#how-we-do-it h3 {
  margin: 2.5rem 0 2.5rem 0;
}
